﻿<div class='col-2 menu-position '>
    <div class=''>
        <ul class='p-0 flex-column'>
            <li class="box-list">
                @Html.ActionLink("List", "Index", "Blogs")
            </li>
            <li class="box-list">
                @Html.ActionLink("Create", "Create", "Blogs")
            </li>
            <li class="box-list">
                @Html.ActionLink("Search", "Searching", "Blogs")
            </li>
        </ul>
    </div>
</div>

