﻿@model IEnumerable<asp_mvc_blog_hieunt.Models.Blog>

@{
    ViewBag.Title = "Index";
    var address = "";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<h2>Danh sách</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.shortDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.thumb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datePublic)
        </th>
        <th>
            Loại
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Positions)
        </th>
        <th>
            Edit
        </th>
        <th>
            Detail
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shortDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.detail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.thumb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datePublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category.Title)
            </td>
            <td>
                @for (int i = 0; i < item.Positions.Count; i++)
                {
                    var position = item.Positions[i];
                    if (position.BlogId == item.ID)
                    {
                        if (i != item.Positions.Count - 1)
                        {
                            address += position.address + ", ";
                        }
                        else
                        {
                            address += position.address;
                        }
                    }
                }
                @Html.DisplayFor(modelItem => address)
                @{
                    address = "";
                }
            </td>
            <td>
                <button class="btn btn-success  ">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "color-text-white" })
                </button>
            </td>
            <td>
                <button class="btn btn-primary ">
                    @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "color-text-white" })
                </button>
            </td>
            <td>
                <button class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "color-text-white" })
                </button>
            </td>
        </tr>
    }
</table>

